@model MemberManagement.Web.ViewModels.MemberVM

@section Styles {
    <link rel="stylesheet" href="~/css/memberpg/membercreate.css" />
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/memberpg/membercreate.js"></script>
}



<div class="member-form-container">
    <div class="member-form-card">
        <h2 class="card-header-name">CREATE MEMBER</h2>

        <br />
        <form asp-action="Create" method="post">


            <div class="form-group">
                <div class="input-wrapper">
                    <input asp-for="FirstName" class="form-control-sm" />
                    <label asp-for="FirstName">First Name</label>
                    <span asp-validation-for="FirstName" class="text-danger floating-error"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-wrapper">
                    <input asp-for="LastName" class="form-control-sm" />
                    <label asp-for="LastName">Last Name</label>
                    <span asp-validation-for="LastName" class="text-danger floating-error"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-wrapper">
                    <input asp-for="BirthDate" type="date" class="form-control-sm" />
                    <label asp-for="BirthDate">Birthdate</label>
                    <span asp-validation-for="BirthDate" class="text-danger floating-error"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-wrapper">
                    <input asp-for="Address" class="form-control-sm" />
                    <label asp-for="Address">Address</label>
                    <span asp-validation-for="Address" class="text-danger floating-error"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-wrapper">
                    <input asp-for="Branch" class="form-control-sm" />
                    <label asp-for="Branch">Branch</label>
                    <span asp-validation-for="Branch" class="text-danger floating-error"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-wrapper">
                    <input asp-for="ContactNo" id="ContactNo" class="form-control-sm" maxlength="11" inputmode="numeric" />
                    <label asp-for="ContactNo">Mobile Number</label>
                    <span asp-validation-for="ContactNo" class="text-danger floating-error"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-wrapper">
                    <input asp-for="EmailAddress" class="form-control-sm" />
                    <label asp-for="EmailAddress">Email Address</label>
                    <span asp-validation-for="EmailAddress" class="text-danger floating-error"></span>
                </div>
            </div>

            <br />
            <div class="form-buttons">
                <button type="submit" class="btn-create-member">
                    <span class="btn-text">Create</span>
                </button>

                <a asp-action="Index" class="btn-create-cancel">
                    <span class="btn-text">Cancel</span>

                </a>
            </div>
        </form>
    </div>
</div>