@model MemberManagement.Web.ViewModels.MemberVM

<link rel="stylesheet" href="~/css/memberpg/memberedit.css" />

<br/>
<div class="member-form-container">
    <div class="member-form-card">
        <!-- Header inside the card -->
        <h2 class="card-header-name">EDIT MEMBER</h2>

        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="MemberID" />

            <div class="form-group">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control-sm" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control-sm" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BirthDate">Birthdate</label>
                <input asp-for="BirthDate" type="date" class="form-control-sm" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address">Address</label>
                <input asp-for="Address" class="form-control-sm" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Branch">Branch</label>
                <input asp-for="Branch" class="form-control-sm" />
                <span asp-validation-for="Branch" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ContactNo">Mobile Number</label>
                <input asp-for="ContactNo" class="form-control-sm" />
                <span asp-validation-for="ContactNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmailAddress">Email Address</label>
                <input asp-for="EmailAddress" class="form-control-sm" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>

            <div class="form-buttons">
                <button type="submit" class="btn-edit-member">Save</button>
                <a asp-action="Index" class="btn-edit-cancel">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
